$namespace: "ui-mp-about-me";

.#{$namespace} {
  color: #444;
  padding: 20px 20px 20px 4px;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 0px 10px 0px rgba(232, 232, 232, 0.33);
  display: flex;

  &__icon {
    padding: 0 12px;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
  }
}
