@use '../navbar/navbar';

$namespace: 'ui-mp-layout';

.#{$namespace} {
  footer {
    padding: 16px;

    a {
      display: block;
      text-align: center;
      padding: 8px;
      margin-bottom: 8px;
    }
  }

  &__contact {
    color: #444;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  &__contact-icon {
    color: #40e998;
    font-size: 32px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 8px;
  }

  @media (min-width: 991px) {
    padding-bottom: 32px;
  }
}