$namespace: "ui-mp-specialties";

.#{$namespace} {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  &__card {
    $colors: (
      0: #1e88e5,
      1: #d32f2f,
      2: #388e3c,
      3: #7b1fa2,
      4: #f57c00,
      5: #0097a7,
      6: #ff6b6b,
      7: #4a6fa5,
      8: #45b7a0,
      9: #9b59b6,
    );

    &.ui-mp-button {
      color: #fff;
      width: 100%;
    }

    @each $index, $color in $colors {
      &--#{$index}.ui-mp-button {
        background-color: $color;

        &:hover,
        &:focus {
          background-color: lighten($color: $color, $amount: 5);
          box-shadow: inset 0 0 0 2px darken($color: $color, $amount: 20);
        }
      }
    }
  }

  &__card-title {
    font-weight: 600;
    font-size: 14px;
  }

  &__image {
    border-radius: 100%;
    box-shadow: -3px 0px 23px 0px
      rgba(103.56123135485572, 43.47004076086961, 197.24999999999997, 0.21);
  }

  @media (min-width: 991px) {
    &__card {
      &.ui-mp-button {
        width: auto;
      }
    }

    &__card-title {
      font-size: 16px;
    }
  }
}
