$namespace: "ui-mp-practitioner-profile-form";

.#{$namespace} {
  margin: 16px;

  &__section-title {
    color: #444;
    margin: 20px 0 16px;
  }

  &__form {
    margin: 16px;
  }

  @media (min-width: 600px) {
    &__form {
      margin: 32px;
    }
  }
}
