$namespace: "ui-mp-schedule";

.#{$namespace} {
  color: #444;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 0px 10px 0px rgba(232, 232, 232, 0.33);
  padding: 20px 0;

  &__spinner {
    text-align: center;
    font-size: 48px;
    color: #724ef7;
  }

  &__empty {
    text-align: center;
    padding: 40px 40px 0;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    color: #724ef7;
    text-align: center;
    margin-bottom: 8px;
  }

  &__subtitle {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__address {
    font-size: 14px;
    background-color: #fafafa;
    padding: 16px 16px 16px 4px;
    display: flex;
    line-height: 1.5;
  }

  &__address-icon {
    padding: 0 12px;
    color: #724ef7;
  }

  &__insurances {
    padding: 12px 16px 12px 44px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(232, 232, 232, 0.5);
  }

  &__time-slots {
    padding: 12px 12px 28px;
  }

  &__time-slot {
    padding: 12px;
    border: 2px solid #40e998;
    border-radius: 8px;
    font-size: 16px;
    font-family: inherit;
    background-color: #fff;
    max-width: 92px;
    margin: 4px;
    cursor: pointer;
    outline: 0;
    transition: all 0.2s ease;
    color: #444;

    &:hover {
      background-color: #40e998;
    }

    &:focus {
      border-color: darken($color: #40e998, $amount: 20);
    }
  }

  &__back {
    background-color: #40e998;
    padding: 4px;
    outline: 0;
    border: 0;
    border-radius: 4px;
    font-family: inherit;
    padding: 12px;
    margin-left: 20px;
    color: #444;
    cursor: pointer;
    transition: all 0.2s ease;

    &:focus {
      box-shadow: inset 0 0 0 2px darken($color: #40e998, $amount: 20);
    }
  }

  &__table {
    padding: 20px 20px 0;
    margin-bottom: 20px;
  }

  &__table-row {
    display: flex;
    align-items: baseline;
    margin-bottom: 16px;
  }

  &__table-row:first-child {
    color: #724ef7;
  }

  &__table-data {
    font-size: 14px;
  }

  &__table-data:first-child {
    font-weight: bold;
    min-width: 96px;
  }

  &__form {
    padding: 0 20px;
  }

  &__form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    font-size: 14px;

    &--inline {
      flex-direction: row;
      align-items: center;
    }
  }

  &__label:first-child {
    margin-bottom: 4px;
  }

  &__label:last-child {
    margin-left: 12px;
  }

  &__input[type='text'],
  &__input[type='email'],
  &__input[type='tel'] {
    background-color: #f8f8f8;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid #f8f8f8;
    outline: 0;
    transition: all 0.2s ease;
    font-family: inherit;
    font-size: inherit;

    &:focus,
    &:hover {
      box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    }
  }

  &__input[type='checkbox'] {
    transform: scale(1.2);
    min-width: 15.6px;
  }

  &__submit {
    width: fit-content;
    display: block;
    font-size: 16px;
    font-family: inherit;
    text-align: center;
    color: #444;
    background-color: #ffd814;
    border-radius: 28px;
    padding: 16px 32px;
    margin: 32px auto 0;
    font-weight: bold;
    border: 0;
    outline: 0;
    transition: all 0.2s ease;
    cursor: pointer;

    &:focus,
    &:hover {
      box-shadow: inset 0 0 0 2px darken($color: #ffd814, $amount: 20)
    }
  }

  @media (min-width: 991px) {
    padding: 28px 16px;

    &__address {
      font-size: 16px;
    }

    &__insurances {
      font-size: 16px;
      border-radius: 30px;
      padding: 16px 18px;
      margin: -8px 0 0 28px;
      background-color: #fff;
      width: fit-content;
    }

    &__table-data {
      font-size: 16px;

      &:first-child {
        min-width: 108px;
      }
    }
  }
}
