@use '../navbar/navbar';

$namespace: 'ui-mp-layout';

.#{$namespace} {
  footer {
    padding: 16px;

    a {
      display: block;
      text-align: center;
      padding: 8px;
      margin-bottom: 8px;
    }
  }

  @media (min-width: 991px) {
    padding-bottom: 32px;
  }
}