@use '../ui/layout/layout';
@use '../pages/index';
@use '../pages/especialidades/specialty';
@use '../pages/profesional/practitioner';
@use '../pages/faq';
@use '../pages/resumen';
@use '../pages/terminos-y-condiciones';
@use '../pages/politica-de-privacidad';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}