@use '../../views/practitioner/profile-card/profile-card';
@use '../../views/practitioner/about-me/about-me';
@use '../../views/practitioner/schedule/schedule';

$namespace: 'ui-mp-practitioner';

.#{$namespace} {
  padding: 28px 16px;

  .ui-mp-profile-card,
  .ui-mp-about-me {
    margin-bottom: 24px;
  }

  @media (min-width: 991px) {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    
    &__profile {
      margin-right: 12px;
      width: 50%;
    }

    .ui-mp-schedule {
      width: 50%;
    }
  }
}
