$link-height: 56;
$available-links: 3;

.ui-mp-nav {
  &__collapsible-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 100%;
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease;
    background-color: #fff;
    transform: scaleY(0);
    transform-origin: top;
    z-index: 1051;

    &--open {
      transform: scaleY(1);
      border-bottom: 1px solid #f3f3f3;
    }
  }

  &__inner-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    transition: all 0.3s ease;
    background-color: #fff;
    display: grid;
    grid-template-rows: repeat(8, 0fr);

    &--open {
      grid-template-rows: repeat(8, 1fr);
    }
  }

  &__inner-menu &__collapsible-menu-item {
    overflow: hidden;
  }

  &__inner-menu &__collapsible-link {
    padding-left: 64px;
  }

  &__collapsible-link {
    padding: 20px 52px;
    display: block;
    width: 100%;
    color: #2e3237;
    font-size: 14px;
    font-family: inherit;
    text-align: left;
    background-color: #fff;
    border: 0;
    line-height: 1;
    text-decoration: none;

    &:focus,
    &:active {
      outline: none;
      box-shadow: inset 0 0 0 2px darken($color: #e5deff, $amount: 20);
    }

    &--current {
      color: #724ef7;
      background-color: #e5deff;
    }
  }

  &__collapsible-link-icon {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
  }
}
