$namespace: "ui-mp-home";

.#{$namespace} {
  .ui-mp-header {
    margin-bottom: 48px;
  }

  .ui-mp-specialties,
  .ui-mp-about-us,
  .ui-mp-enrollment,
  .ui-mp-partnerships {
    margin-bottom: 36px;
  }

  @media (min-width: 991px) {
    .ui-mp-specialties,
    .ui-mp-about-us,
    .ui-mp-enrollment,
    .ui-mp-partnerships {
      margin-bottom: 80px;
    }
  }
}
