@use './practitioner-card';

$namespace: 'ui-mp-practitioners';

.#{$namespace} {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: 991px) {
    display: flex;
    flex-wrap: wrap;
  }
}
