$namespace: "ui-mp-practitioner-card";

.#{$namespace} {
  width: 344px;
  max-width: 100%;
  margin: 0 auto;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 12px 44px;
    color: #444;
    text-decoration: none;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 0px 10px 0px rgba(232, 232, 232, 0.33);
  }

  &__image-container {
    height: 100px;
    width: 100px;
    margin-bottom: 12px;
    border-radius: 100%;
    overflow: hidden;
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
  }

  &__content {
    flex-grow: 1;
  }

  &__title {
    font-size: 20px;
    margin: 0 0 12px;
  }

  &__specialty {
    font-size: 16px;
    margin: 0 auto 12px;
    font-weight: bold;
    color: #724ef7;
    width: fit-content;
    background-color: #f6f6f6;
    border-radius: 4px;
    padding: 12px 20px;
  }

  &__addresses-container {
    margin-bottom: 20px;
  }

  &__addresses {
    display: flex;
    justify-content: center;
  }

  &__address-icon {
    margin-right: 4px;
  }

  &__address {
    font-size: 14px;
    padding: 12px 20px;
    margin-right: 8px;
    background-color: #ccffe7;
    border-radius: 4px;
    white-space: nowrap;
  }

  &__action {
    font-family: inherit;
    font-size: 16px;
    color: #444;
    padding: 16px 32px;
    background-color: #ffd814;
    border: 0;
    border-radius: 28px;
    font-weight: bold;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  @media (min-width: 991px) {
    margin: 12px;
  }
}
