.ui-mp-nav {
  position: relative;

  &--mobile {
    box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 0.5);
  }

  &__content {
    padding: 16px 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__home {
    display: flex;
    align-items: center;
  }
}
