@use "./navbar-desktop";
@use "./navbar-mobile";

$namespace: 'ui-mp-nav';

.#{$namespace} {
  &--desktop {
    display: none;
  }

  @media (min-width: 991px) {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
