$namespace: "ui-mp-header";

.#{$namespace} {
  text-align: center;
  color: #444;
  padding-top: 8px;

  &__title {
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 16px;
  }

  &__cta {
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 24px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 24px;

    strong {
      display: block;
    }
  }

  &__highlight {
    color: #724ef7;
    font-weight: bold;
  }

  @media (min-width: 991px) {
    &__title,
    &__cta {
      font-size: 36px;
    }

    &__subtitle {
      font-size: 20px;
    }
  }
}
